body{
    .container{
        position: relative;
        width: 70%;
        .sectionFilm{
            border: solid 2px grey;
            padding: 5px 0px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }
    }
    .container-fluid{
        margin-top: 25px;
        width: 80%;
        .sectionTitle{
            border-left: solid 5px red;
            margin: 0 0 25px 0;
            padding: 0;
            h2{
                margin: 0;
                padding: 0;
            }
        }
        .sectionBtnTri{
            margin: 0 0 25px 0;
            padding:0;
            display: flex;
            flex-flow: row wrap;
            button{
                border: none;
                background-color: lightgrey;
                margin: 1px;
                padding: 5px 10px ;
            }
        }
        .sectionFeaturedFilm{
            display: flex;
            justify-content:space-around;
        }
        .sectionMore{
            display: flex;
            justify-content: center;
            button{
                background-color: red ;
                padding: 5px 10px ;
                color: white;
            }
        }
    }
}
.film{           
    justify-content: center;
    padding: 2.5px;
    margin: 0px ;
    img{
    }
}
.filmTitre{
        font-size:1em;
        // display: flex;
        // justify-content: center;
        // flex-wrap: wrap;
        width: 100%;

}
.filmDonnees{
        margin:0;
        padding: 5px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        font-size: 0.5em;
}
.filmPrix{
    color:red;
}
.shopDonnees{
    margin:0;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 0.5em;
    background-color: lightgrey;
}
.shopTitre{
    font-size: 1em;
    width: 100%;
    background-color: lightgrey;
    margin:0;
    padding: 0;
}
.imageShop{
    margin-top: 4px;
}
.containerShopMovie{
    margin:0;
    width: 100% !important;
}
#slider{
    width:100%;
    ul{
        width: 100%;
        li{
            width: 100%;
            background-color: black;
            font-size: 0.6em;
            .trailerShop{
                width: 100%;
                height: 300px;
            }
            .sliderTitre{
                color: red;
                font-size: 2em;
            }
            .row{
                width: 100%;
                margin:0;
                padding:0 10px;
                color: white;
                .storyLine{
                    color:red;
                }
            }

        }
    }
}
.btnFleche{
    span{
        color: white;
        background-color: black;
        padding: 0 5px 0 5px;
        margin: 1px;
    }
}