body .container {
  position: relative;
  width: 70%;
}

body .container .sectionFilm {
  border: solid 2px grey;
  padding: 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container-fluid {
  margin-top: 25px;
  width: 80%;
}

body .container-fluid .sectionTitle {
  border-left: solid 5px red;
  margin: 0 0 25px 0;
  padding: 0;
}

body .container-fluid .sectionTitle h2 {
  margin: 0;
  padding: 0;
}

body .container-fluid .sectionBtnTri {
  margin: 0 0 25px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

body .container-fluid .sectionBtnTri button {
  border: none;
  background-color: lightgrey;
  margin: 1px;
  padding: 5px 10px;
}

body .container-fluid .sectionFeaturedFilm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container-fluid .sectionMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container-fluid .sectionMore button {
  background-color: red;
  padding: 5px 10px;
  color: white;
}

.film {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5px;
  margin: 0px;
}

.filmTitre {
  font-size: 1em;
  width: 100%;
}

.filmDonnees {
  margin: 0;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.5em;
}

.filmPrix {
  color: red;
}

.shopDonnees {
  margin: 0;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.5em;
  background-color: lightgrey;
}

.shopTitre {
  font-size: 1em;
  width: 100%;
  background-color: lightgrey;
  margin: 0;
  padding: 0;
}

.imageShop {
  margin-top: 4px;
}

.containerShopMovie {
  margin: 0;
  width: 100% !important;
}

#slider {
  width: 100%;
}

#slider ul {
  width: 100%;
}

#slider ul li {
  width: 100%;
  background-color: black;
  font-size: 0.6em;
}

#slider ul li img {
  width: 100%;
  height: 350px !important;
}

#slider ul li .sliderTitre {
  color: red;
  font-size: 2em;
}

#slider ul li .row {
  width: 100%;
  margin: 0;
  padding: 0 10px;
  color: white;
}

#slider ul li .row .storyLine {
  color: red;
}

.btnFleche span {
  color: white;
  background-color: black;
  padding: 0 5px 0 5px;
  margin: 1px;
}
/*# sourceMappingURL=styleAD.css.map */