body{
    .container{
        position: relative;
        width: 70%;
        .sectionFilm{
            border: solid 2px grey;
            padding: 5px 0px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }
    }
    .container-fluid{
        margin-top: 25px;
        width: 80%;
        .sectionTitle{
            border-left: solid 5px red;
            margin: 0 0 25px 0;
            padding: 0;
            h2{
                margin: 0;
                padding: 0;
            }
        }
        .sectionBtnTri{
            margin: 0 0 25px 0;
            padding:0;
            display: flex;
            flex-flow: row wrap;
            button{
                border: none;
                background-color: lightgrey;
                margin: 1px;
                padding: 5px 10px ;
            }
        }
        .sectionFeaturedFilm{
            display: flex;
            justify-content:space-around;
        }
        .sectionMore{
            display: flex;
            justify-content: center;
            button{
                background-color: red ;
                padding: 5px 10px ;
                color: white;
            }
        }
    }
}
.film{
                
    justify-content: center;
    padding: 2.5px;
    margin: 0px ;
    img{

    }
    .filmTitre{
        font-size:1em;
        // display: flex;
        // justify-content: center;
        // flex-wrap: wrap;
        width: 100%;

    }
    .filmDonnees{
        margin:0;
        padding: 5px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        font-size: 0.5em;
    }
}