@import url("https://fonts.googleapis.com/css?family=Roboto:900");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

/* POP UP AGE */
#popupage {
  position: fixed;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#popupage .quest {
  height: 30px;
  margin-right: 10px;
  line-height: 5px;
  padding: 30px;
  border: 2px solid #fe4240;
  margin: 0 28% 0 28%;
  text-align: center;
  font-size: 25px;
}

#popupage .just-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 30% 0 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#popupage .just-row .btn {
  background-color: white;
  border-radius: 0;
  color: #fe4240;
  height: 30px;
  margin: 5px;
  line-height: 5px;
  padding: 30px;
  padding-left: 122.5px;
  padding-right: 122.5px;
  text-align: center;
  margin-top: -38px;
  font-size: 25px;
  font-weight: bold;
}

#popupage .just-row .btn:hover {
  background-color: #fe4240;
  color: #fff;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/* COOKIE */
#gdpr-box {
  display: block;
  width: 100%;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  padding: 20px;
  z-index: 999;
}

#gdpr-box p {
  /*padding: 10px 20px 20px;*/
  font-size: 12px;
  line-height: 18px;
  margin-top: 20px;
  text-align: center;
}

#gdpr-box a {
  color: #fff;
}

#gdpr-box button.gdpr-button-accept {
  background: none;
  color: #fff;
  font-size: 12px;
  padding-left: 20%;
}

#gdpr-box button.gdpr-button-accept,
#gdpr-box a.gdpr-button-settings {
  display: block;
  border: 2px solid #fe4240;
  padding: 6px 5px 4px;
  text-decoration: none;
  /* margin: 0 0 20px 20px;*/
  margin: auto;
  margin-bottom: 20px;
  border-radius: 2px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#gdpr-box button.gdpr-button-accept:hover {
  cursor: pointer;
}

#gdpr-box button.gdpr-button-accept:hover,
#gdpr-box a.gdpr-button-settings:hover {
  background: #fe4240;
  border: 2px solid #fe4240;
}

/* NAVBAR TOP */
.navbartop {
  background: transparent;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  text-transform: uppercase;
  font-size: 12px;
}

.navbartop .navright {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 100px;
}

.navbartop a {
  color: #fff !important;
}

.navbartop .navbar-toggler {
  background-color: #000;
  opacity: 0.8;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}

.navbartop .navbar-toggler .navbar-toggler-icon {
  color: #fff;
  background-color: #fe4240;
  height: 3px;
  margin: 3px;
}

.navbartop .logo {
  font-weight: bold;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}

.navbartop .logo .redlogo {
  color: #fe4240;
}

.navbartop .genre {
  background-color: #fe4240;
  color: #fff !important;
  margin-right: 5px;
}

.navbartop .section {
  color: #fff !important;
  margin-right: 5px;
  position: relative;
}

.navbartop .boxsection {
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 5px;
}

.navbartop .dropdown-menu {
  background-color: #fff;
  border-radius: 0;
}

.navbartop .dropdown-menu .dropdown-item {
  font-size: 12px;
  color: #000 !important;
}

.navbartop .dropdown-menu .dropdown-item:hover {
  color: #fff !important;
  background-color: #fe4240;
}

.navbartop .search {
  position: relative;
}

.navbartop .search .fa-search {
  color: #fff !important;
  position: absolute;
}

.navbartop .search .fa {
  right: 8%;
}

.navbartop .search .formborder {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  height: 30px;
}

.navbartop .search input::-webkit-input-placeholder {
  color: #fff;
}

.navbartop .search input:-ms-input-placeholder {
  color: #fff;
}

.navbartop .search input::-ms-input-placeholder {
  color: #fff;
}

.navbartop .search input::placeholder {
  color: #fff;
}

.navbartop .search .btn {
  border-radius: 30px;
}

/* JUMBOTRON */
.jumbotron {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 !important;
  margin-top: -30px !important;
}

#slide {
  width: 100% !important;
  height: 100vh !important;
}

.carousel-inner img {
  margin-top: -10%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.carousel-caption {
  bottom: 35% !important;
}

.carousel-caption .title {
  font-size: 50px;
  font-weight: bold;
}

.carousel-caption .sentence {
  font-size: 12px;
  letter-spacing: 5px;
  opacity: 0.7;
}

.carousel-caption .btn {
  background-color: #fe4240;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
}

.carousel-caption .btn:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #747474;
  color: #fff;
}

.carousel-caption .redletter {
  color: #fe4240;
  font-size: 53px;
}

#myCarousel {
  width: 100%;
}

.carousel, .carousel-inner, .carousel-item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.avantoi {
  background-image: url("../img/avantoi.jpg");
}

.thestrangers {
  background-image: url("../img/Thestrangers2.jpg");
}

.antman {
  background-image: url("../img/antman.jpg");
}

.indestructibles {
  background-image: url("../img/indestructibles.jpg");
}

.carousel-indicators {
  bottom: 32% !important;
}

.carousel-indicators .carouselLink {
  background-color: #fff !important;
}

.carousel-indicators .active {
  background-color: #fe4240 !important;
}

#slide {
  width: 100vw;
  height: 100vh;
}

/* pop up */
.modal {
  margin-top: 150px;
}

.modal-header {
  background-color: #fe4240;
}

.modal-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.formpopup {
  color: #000;
  text-align: left;
}

/* NAVBAR BOTTOM */
.navbarbottom {
  background-color: #fe4240;
  margin-top: -3.8em;
  width: 100%;
  height: 7%;
  font-size: 12px;
  color: #fff;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.navbarbottom .contact {
  background-color: #000;
  margin-right: 10px;
  color: #fff;
  border-radius: 0;
  font-size: 14px;
}

/* MEDIA QUERIES RESPONSIVE */
@media all and (max-width: 1024px) {
  .navbartop {
    background-color: #111;
    margin-top: 0%;
  }
  .navright {
    padding-left: 0px !important;
    background-color: none;
    padding: 10px !important;
  }
  .boxsection {
    background-color: transparent !important;
  }
  .section {
    background-color: transparent !important;
  }
  .search {
    width: 100%;
  }
  .contact {
    width: 70px;
  }
  .carousel, .carousel-inner, .carousel-item {
    height: 97%;
  }
  .carousel-caption {
    margin-bottom: -8%;
  }
  .carousel-indicators {
    margin-bottom: -6%;
  }
  .navbarbottom {
    margin-top: -22%;
    position: absolute;
  }
  .infos {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .quest {
    font-size: 14px;
  }
}

.socialnetwork {
  position: fixed;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbarbottom {
    margin-top: -10%;
    position: absolute;
  }
  .carousel-caption {
    margin-bottom: -3%;
  }
}

/*
@media all and (min-width:768px) {
    
}*/
/*# sourceMappingURL=style.css.map */